<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 01</h1>
    <h3 align="center">memory usage by each column</h3>
    <h4 align="center"></a></h5>
</div>

### Importing libraries

In [5]:
import pandas as pd

In [6]:
pd.__version__

'2.3.1'

### Import Dataset & Make Dataframe

In [10]:
dataset = pd.read_csv('titanic.csv')
dataset.head

<bound method NDFrame.head of       pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex    age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.00      0      0   24160  211.3375       B5        S    2
1       male   0.92      1      2  113781  151.5500  C22 C26        S   11
2     female   2.00      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.00      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.00      1      2  113781  151.5500  C22 C26        S  NaN
...      ...    ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.50      1      0    2665   14.4542      NaN        C  NaN
1305  female    NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.50      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.00      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.00      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]>

### Memory usage in each(how to optimize dataframe storage)

In [9]:
dataset.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 536.7 KB

### calculating memory used by each column (in bytes)

In [12]:
dataset.memory_usage(deep=True)

Index          132
pclass       10472
survived     10472
name         99655
sex          70309
age          10472
sibsp        10472
parch        10472
ticket       73030
fare         10472
cabin        48006
embarked     65414
boat         50872
body         10472
home.dest    68831
dtype: int64

<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 02</h1>
    <h3 align="center">Convert Data</h3>
    <h4 align="center"></a></h5>
</div>