In [23]:
import pandas as pd
import numpy as np

In [24]:
data = {
    'a': [1, 2, 3],
    'b': [4, 5, 6],
    'c': [7, 8, 9],
    'd': [10, 11, 12],
}

In [25]:
df = pd.DataFrame(data)

In [26]:
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [29]:
index = ['radif1', 'radif2', 'radif3']

In [30]:
df = pd.DataFrame(data, index=index)
df

        a  b  c   d
radif1  1  4  7  10
radif2  2  5  8  11
radif3  3  6  9  12

In [31]:
data2 ={

    'نام': ['علی', 'رضا', 'سارا', 'نازنین'],
    'سن': [25, 30, 22, 28],
    'شهر': ['تهران', 'مشهد', 'اصفهان', 'شیراز'],
    'امتیاز': [85, 92, 78, 88]
}

df = pd.DataFrame(data2)
df

      نام  سن     شهر  امتیاز
0     علی  25   تهران      85
1     رضا  30    مشهد      92
2    سارا  22  اصفهان      78
3  نازنین  28   شیراز      88

In [32]:

df = pd.DataFrame(data)
print("دیتافریم اصلی:")
print(df)
print("\n" + "="*50 + "\n")

دیتافریم اصلی:
   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

==================================================

In [33]:
print("اطلاعات دیتافریم:")
print(df.info())

print("\nاولین ۲ سطر:")
print(df.head(2))

print("\nآمار توصیفی:")
print(df.describe())

اطلاعات دیتافریم:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       3 non-null      int64
dtypes: int64(4)
memory usage: 228.0 bytes
None

اولین ۲ سطر:
   a  b  c   d
0  1  4  7  10
1  2  5  8  11

آمار توصیفی:
         a    b    c     d
count  3.0  3.0  3.0   3.0
mean   2.0  5.0  8.0  11.0
std    1.0  1.0  1.0   1.0
min    1.0  4.0  7.0  10.0
25%    1.5  4.5  7.5  10.5
50%    2.0  5.0  8.0  11.0
75%    2.5  5.5  8.5  11.5
max    3.0  6.0  9.0  12.0

### select data

In [43]:
df = pd.DataFrame(data2)

In [45]:
age = df['سن']
age

0    25
1    30
2    22
3    28
Name: سن, dtype: int64

In [48]:
sunset = df [['نام', 'شهر']]
sunset

      نام     شهر
0     علی   تهران
1     رضا    مشهد
2    سارا  اصفهان
3  نازنین   شیراز

In [49]:
print("سطر اول:")
print(df.iloc[0])

print("\nسطرهای ۱ تا ۳:")
print(df.iloc[1:3])

# انتخاب با loc (بر اساس label)
print("\nسطرهای بر اساس label:")
print(df.loc[0:2])

سطر اول:
نام         علی
سن           25
شهر       تهران
امتیاز       85
Name: 0, dtype: object

سطرهای ۱ تا ۳:
    نام  سن     شهر  امتیاز
1   رضا  30    مشهد      92
2  سارا  22  اصفهان      78

سطرهای بر اساس label:
    نام  سن     شهر  امتیاز
0   علی  25   تهران      85
1   رضا  30    مشهد      92
2  سارا  22  اصفهان      78

In [52]:
ex1 = df[['نام','امتیاز']]
ex2 = df.loc[2:3]
ex2

      نام  سن     شهر  امتیاز
2    سارا  22  اصفهان      78
3  نازنین  28   شیراز      88

In [54]:
df

      نام  سن     شهر  امتیاز
0     علی  25   تهران      85
1     رضا  30    مشهد      92
2    سارا  22  اصفهان      78
3  نازنین  28   شیراز      88

In [57]:
ex3 = df[df['سن']<= 25]
ex3

    نام  سن     شهر  امتیاز
0   علی  25   تهران      85
2  سارا  22  اصفهان      78

In [61]:
ex4 = df[(df['سن']>= 26) & (df['شهر'] == 'مشهد')]
ex4

   نام  سن   شهر  امتیاز
1  رضا  30  مشهد      92

In [62]:
# یک دیتافریم برای کتابخانه شخصی بساز
books_data = {
    'کتاب': ['پایتون مقدماتی', 'هوش مصنوعی', 'تحلیل داده', 'یادگیری ماشین'],
    'نویسنده': ['احمدی', 'رضایی', 'محمدی', 'جعفری'],
    'سال انتشار': [2020, 2019, 2021, 2022],
    'قیمت': [50000, 75000, 60000, 90000],
    'صفحات': [300, 450, 350, 500]
}

books_df = pd.DataFrame(books_data)
print("کتابخانه من:")
print(books_df)

# حالا این سوالات رو جواب بده:
# ۱. گرانترین کتاب کدومه؟
# ۲. میانگین قیمت کتاب‌ها چقدره؟
# ۳. کتاب‌های منتشر شده بعد از ۲۰۲۰ رو نمایش بده

کتابخانه من:
             کتاب نویسنده  سال انتشار   قیمت  صفحات
0  پایتون مقدماتی   احمدی        2020  50000    300
1      هوش مصنوعی   رضایی        2019  75000    450
2      تحلیل داده   محمدی        2021  60000    350
3   یادگیری ماشین   جعفری        2022  90000    500

In [73]:
e001 = books_df[books_df['قیمت'] == books_df['قیمت'].max()]
e001

            کتاب نویسنده  سال انتشار   قیمت  صفحات
3  یادگیری ماشین   جعفری        2022  90000    500

In [76]:
e002 = books_df['قیمت'].mean()
e002

np.float64(68750.0)

In [78]:
e003 = books_df[books_df['سال انتشار'] >= 2020]
e003

             کتاب نویسنده  سال انتشار   قیمت  صفحات
0  پایتون مقدماتی   احمدی        2020  50000    300
2      تحلیل داده   محمدی        2021  60000    350
3   یادگیری ماشین   جعفری        2022  90000    500

In [81]:
# داده‌های جدید برای کتابخانه
library_data = {
    'نام': ['پایتون پیشرفته', 'شبکه‌های عصبی', 'پردازش زبان طبیعی', 'داده‌کاوی', 'یادگیری عمیق'],
    'نویسنده': ['فاطمی', 'کریمی', 'موسوی', 'حسینی', 'نوری'],
    'سال انتشار': [2021, 2020, 2022, 2019, 2023],
    'قیمت': [80000, 70000, 85000, 55000, 95000],
    'صفحات': [400, 320, 380, 280, 420],
    'دسته بندی': ['برنامه‌نویسی', 'هوش مصنوعی', 'هوش مصنوعی', 'داده‌کاوی', 'هوش مصنوعی']
}

library_df = pd.DataFrame(library_data)
library_df

# کتاب‌های دسته‌بندی «هوش مصنوعی» را نمایش دهید
#میانگین تعداد صفحات کتاب‌ها را محاسبه کنید
#کتاب‌های با قیمت کمتر از ۷۵۰۰۰ تومان را پیدا کنید

                 نام نویسنده  سال انتشار   قیمت  صفحات     دسته بندی
0     پایتون پیشرفته   فاطمی        2021  80000    400  برنامه‌نویسی
1      شبکه‌های عصبی   کریمی        2020  70000    320    هوش مصنوعی
2  پردازش زبان طبیعی   موسوی        2022  85000    380    هوش مصنوعی
3          داده‌کاوی   حسینی        2019  55000    280     داده‌کاوی
4       یادگیری عمیق    نوری        2023  95000    420    هوش مصنوعی

In [82]:
liex001 = library_df[library_df['دسته بندی'] == 'هوش مصنوعی']
liex001

                 نام نویسنده  سال انتشار   قیمت  صفحات   دسته بندی
1      شبکه‌های عصبی   کریمی        2020  70000    320  هوش مصنوعی
2  پردازش زبان طبیعی   موسوی        2022  85000    380  هوش مصنوعی
4       یادگیری عمیق    نوری        2023  95000    420  هوش مصنوعی

In [84]:
liex002 = library_df['قیمت'].mean()
liex002

np.float64(77000.0)

In [85]:
liex003 = library_df[library_df['قیمت'] <= 75000]
liex003

             نام نویسنده  سال انتشار   قیمت  صفحات   دسته بندی
1  شبکه‌های عصبی   کریمی        2020  70000    320  هوش مصنوعی
3      داده‌کاوی   حسینی        2019  55000    280   داده‌کاوی

In [87]:
# داده‌های محصولات
products_data = {
    'نام محصول': ['لپ‌تاپ', 'موبایل', 'تبلت', 'هدفون', 'ماوس'],
    'قیمت': [25000000, 8000000, 5000000, 1500000, 500000],
    'تعداد موجودی': [15, 30, 20, 50, 100],
    'دسته‌بندی': ['الکترونیکی', 'الکترونیکی', 'الکترونیکی', 'اکسسوری', 'اکسسوری']
}

products_df = pd.DataFrame(products_data)
products_df.info()
products_df.head()
products_df.describe()

#ارزش کل موجودی هر محصول را محاسبه کنید (قیمت × تعداد)
#محصولات دسته‌بندی «الکترونیکی» را نمایش دهید
#میانگین قیمت محصولات را محاسبه کنید

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   نام محصول     5 non-null      object
 1   قیمت          5 non-null      int64
 2   تعداد موجودی  5 non-null      int64
 3   دسته‌بندی     5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

               قیمت  تعداد موجودی
count  5.000000e+00      5.000000
mean   8.000000e+06     43.000000
std    9.956154e+06     34.568772
min    5.000000e+05     15.000000
25%    1.500000e+06     20.000000
50%    5.000000e+06     30.000000
75%    8.000000e+06     50.000000
max    2.500000e+07    100.000000

In [89]:
products_df

  نام محصول      قیمت  تعداد موجودی   دسته‌بندی
0    لپ‌تاپ  25000000            15  الکترونیکی
1    موبایل   8000000            30  الکترونیکی
2      تبلت   5000000            20  الکترونیکی
3     هدفون   1500000            50     اکسسوری
4      ماوس    500000           100     اکسسوری

In [98]:
products_df['ارزش کل'] = products_df['قیمت'] * products_df['تعداد موجودی']
prodex001 = products_df['ارزش کل']
prodex001

0    375000000
1    240000000
2    100000000
3     75000000
4     50000000
Name: ارزش کل, dtype: int64