In [23]:
import pandas as pd
import numpy as np

In [24]:
data = {
    'a': [1, 2, 3],
    'b': [4, 5, 6],
    'c': [7, 8, 9],
    'd': [10, 11, 12],
}

In [25]:
df = pd.DataFrame(data)

In [26]:
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [29]:
index = ['radif1', 'radif2', 'radif3']

In [30]:
df = pd.DataFrame(data, index=index)
df

        a  b  c   d
radif1  1  4  7  10
radif2  2  5  8  11
radif3  3  6  9  12

In [31]:
data2 ={

    'نام': ['علی', 'رضا', 'سارا', 'نازنین'],
    'سن': [25, 30, 22, 28],
    'شهر': ['تهران', 'مشهد', 'اصفهان', 'شیراز'],
    'امتیاز': [85, 92, 78, 88]
}

df = pd.DataFrame(data2)
df

      نام  سن     شهر  امتیاز
0     علی  25   تهران      85
1     رضا  30    مشهد      92
2    سارا  22  اصفهان      78
3  نازنین  28   شیراز      88

In [32]:

df = pd.DataFrame(data)
print("دیتافریم اصلی:")
print(df)
print("\n" + "="*50 + "\n")

دیتافریم اصلی:
   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

==================================================

In [33]:
print("اطلاعات دیتافریم:")
print(df.info())

print("\nاولین ۲ سطر:")
print(df.head(2))

print("\nآمار توصیفی:")
print(df.describe())

اطلاعات دیتافریم:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       3 non-null      int64
dtypes: int64(4)
memory usage: 228.0 bytes
None

اولین ۲ سطر:
   a  b  c   d
0  1  4  7  10
1  2  5  8  11

آمار توصیفی:
         a    b    c     d
count  3.0  3.0  3.0   3.0
mean   2.0  5.0  8.0  11.0
std    1.0  1.0  1.0   1.0
min    1.0  4.0  7.0  10.0
25%    1.5  4.5  7.5  10.5
50%    2.0  5.0  8.0  11.0
75%    2.5  5.5  8.5  11.5
max    3.0  6.0  9.0  12.0

### select data

In [43]:
df = pd.DataFrame(data2)

In [45]:
age = df['سن']
age

0    25
1    30
2    22
3    28
Name: سن, dtype: int64

In [48]:
sunset = df [['نام', 'شهر']]
sunset

      نام     شهر
0     علی   تهران
1     رضا    مشهد
2    سارا  اصفهان
3  نازنین   شیراز

In [49]:
print("سطر اول:")
print(df.iloc[0])

print("\nسطرهای ۱ تا ۳:")
print(df.iloc[1:3])

# انتخاب با loc (بر اساس label)
print("\nسطرهای بر اساس label:")
print(df.loc[0:2])

سطر اول:
نام         علی
سن           25
شهر       تهران
امتیاز       85
Name: 0, dtype: object

سطرهای ۱ تا ۳:
    نام  سن     شهر  امتیاز
1   رضا  30    مشهد      92
2  سارا  22  اصفهان      78

سطرهای بر اساس label:
    نام  سن     شهر  امتیاز
0   علی  25   تهران      85
1   رضا  30    مشهد      92
2  سارا  22  اصفهان      78

In [52]:
ex1 = df[['نام','امتیاز']]
ex2 = df.loc[2:3]
ex2

      نام  سن     شهر  امتیاز
2    سارا  22  اصفهان      78
3  نازنین  28   شیراز      88