# Data processing tools

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

dataset = pd.read_csv('data.csv')
x = dataset.iloc[:, :-1].values همه ستون ها جز اخرین ستون
y = dataset.iloc[:, -1].values فقط اخرین ستون 

 در ابتدا باید داده های خود را بگیریم
 از ilock برای جمع اوری ردیف ها و شاخص های ستون استفاده میکنیم

 .iloc یعنی "index location"

In [5]:
dataset = pd.read_csv('Data.csv')
x = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [6]:
print(x)

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [7]:
print(y)

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

## splitting the dataset into the traning test and test set

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state =0)

# Taking care of missing data