# Here are some exercises about the topic of if and else

یک عدد از کاربر بگیر و مشخص کن که زوج است یا فرد.

In [5]:
num = int(input("enter your number"))
if num % 2 == 0:
    print("this number is even")
    
else:
    print("this number is odd")

this number is even

برنامه‌ای بنویس که نمره دانش‌آموز را بگیرد:

اگر نمره بالای ۱۰ بود، چاپ کند: "قبول شدی ✅"

اگر نمره ۱۰ یا کمتر بود، چاپ کند: "رد شدی ❌"

In [6]:
score = float(input("enter your score"))

if score >= 10:
    print("you are pass")
elif score <= 10:
    print("you are fail")

you are fail

دو عدد از کاربر بگیر و مشخص کن کدام بزرگتر است.

اگر مساوی بودند، پیام "دو عدد برابرند" چاپ کن.

In [8]:
num1 = int(input("enter your number"))
num2 = int(input("enter your nunber"))

if num1 > num2:
    print("num1 is biggest number")
elif num2 > num1:
    print("num2 is biggest number")
elif num1 == num2:
    print("the numbers are equal")

the numbers are equal

برنامه‌ای بنویس که سال را از کاربر بگیرد و مشخص کند آیا کبیسه است یا نه

In [ ]:
year = int(input("enter year for check"))

if year % 400 == 0:
    print("year is leap")
else:
    print("year is normal")

year is normal

ماشین‌ حساب ساده

In [ ]:
num1 = float(input("enter the first number"))
num2 = float(input("enter your secound number"))

operator = input("Enter an operator (+, -, *, /): ")
if operator == "+":
    print("result:", num1 + num2)
elif operator == "-":
    print("result:", num1 - num2)
elif operator == "*":
    print("result:", num1 * num2)
elif operator == "/":
      if num2 != 0:
           print("result:", num1 / num2)
      else:
           print("error")
else:
     print("invalid operator")

result: 2957683405950.0

In [ ]:
str = "GFG"
print(not (not(str and "")))

False

In [11]:
c = 4
print(not c)

False

1name = "Error"  # Starts with a digit
class = 10       # 'class' is a reserved keyword
user-name = "Doe"  # Contains a hyphen1name

In [ ]:
x = 10
x = "Now a string"
#Python variables are dynamically typed, meaning the same variable can 
#hold different types of values during execution.

In [11]:
a = b = c = 2323
print(a, b, c)
#Python allows assigning the same value to multiple variables in a single line,
#which can be useful for initializing variables with the same value.

2323 2323 2323

### Assigning Different Values

In [12]:
x, y, z = 100 , 33234, "reza"
print(x, y, z)

100 33234 reza

### Type Casting a Variable

In [15]:
a =  '213'
m = int(a)
a

'213'

### Type Casting a Variable

In [18]:
cnt = 5
f = float(cnt)
age = 34
age2 = str(age)
f, age2

(5.0, '34')

### Type of Variable

In [5]:
n = 43
m = 3.14
s = "hello"
z = {123,324,234}
o = [213, 2343, 5324]
bool = False

print(type(n))
print(type(m))
print(type(s))
print(type(z))
print(type(o))
print(type(bool))
#Python is a dynamically typed language, meaning you don't need to declare variable types explicitly.

<class 'int'>
<class 'float'>
<class 'str'>
<class 'set'>
<class 'list'>
<class 'bool'>

In [16]:
a = [1, 2, 3]
b = a
b.append(3) #for lists
print(a)

[1, 2, 3, 3]

In [5]:
a = [1, 2, 3]
b = a
c = [22, 0, 1]
print(a is b)
print(b is c
pritn(a is c) #error

SyntaxError: '(' was never closed (4234419225.py, line 5)

### Copy vs Reference

In [ ]:
import copy
a = [[1,2], [3,4]]
b = copy.copy(a)

a[0][1]= 90
print(a) 
print(b) #الان همون مقدار اولیه رو داد
print(a is b)

# list is imutble

[[1, 90], [3, 4]]
[[1, 90], [3, 4]]
False

In [5]:
import copy

a = [[1,2], [2,4]]
b = copy.copy(a)

a[0][0] = 294792374923749
print(a)
print(b)
print(a is b)

[[294792374923749, 2], [2, 4]]
[[294792374923749, 2], [2, 4]]
False

In [5]:
import copy

a = [[2,2,3], [1,2,3]]
b = copy.deepcopy(a)
a[1][2] = 100
print(a)
print(b)
print(a is b)

[[2, 2, 3], [1, 2, 100]]
[[2, 2, 3], [1, 2, 3]]
False

### operators

In [8]:
a = 10
b = 12

print('addition', a + b)

print('subtraction', a - b)

print('multipication', a * b)

print('floor divition', a // b)

print('modalus', a % b)

print('exponentiation', a ** b)

# Arithmetic Operators

addition 22
subtraction -2
multipication 120
floor divition 0
modalus 10
exponentiation 1000000000000

In [ ]:
a = 2
b = 3

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

# Comparison Operators

False
True
False
True
False
True

In [ ]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

# Logical Operators

False
True
False

In [ ]:
a = 19
b = 12

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

# Bitwise Operators

0
31
-20
31
4
76

In [10]:
a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

# Assignment Operators

10
20
10
100
102400

In [12]:
a = 10
b = 123
c = b

print(a is not b)
print(a is c)
print(b is c)

# Identity Operators

True
False
True

In [20]:
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

# Membership Operators
    '''
    in     =       True if value is found in the sequence
not in     =   True if value is not found in the sequence
    '''

x is NOT present in given list
y is present in given list

In [21]:
a ,b = 10, 20 

result = a if a < b else b
print(result)

# Ternary Operator

10

In [23]:
expr = 10 + 20 * 30
print(expr)
name = "Alex"
age = 0

if name == "Alex" or name == "John" and age >= 2:
    print("Hello! Welcome.")
else:
    print("Good Bye!!")

610
Hello! Welcome.

In [1]:
print("hello world")
s

hello world

NameError: name 's' is not defined