### Importing libraries

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [5]:
import pandas as pd

data = {
    'Name': ['Ali', 'Sara', 'Reza'],
    'Age': [23, 27, 21],
    'City': ['Tehran', 'Shiraz', 'Tabriz']
}

df = pd.DataFrame(data)
print(df)

   Name  Age    City
0   Ali   23  Tehran
1  Sara   27  Shiraz
2  Reza   21  Tabriz

### Import Dataset & Make Dataframe

In [8]:
dataset = pd.read_csv('earthquake_data_tsunami.csv')
dataset.head

<bound method NDFrame.head of      magnitude  cdi  mmi  sig  nst   dmin   gap    depth  latitude  longitude  \
0          7.0    8    7  768  117  0.509  17.0   14.000   -9.7963    159.596
1          6.9    4    4  735   99  2.229  34.0   25.000   -4.9559    100.738
2          7.0    3    3  755  147  3.125  18.0  579.000  -20.0508   -178.346
3          7.3    5    5  833  149  1.865  21.0   37.000  -19.2918   -172.129
4          6.6    0    2  670  131  4.998  27.0  624.464  -25.5948    178.278
..         ...  ...  ...  ...  ...    ...   ...      ...       ...        ...
777        7.7    0    8  912  427  0.000   0.0   60.000   13.0490    -88.660
778        6.9    5    7  745    0  0.000   0.0   36.400   56.7744   -153.281
779        7.1    0    7  776  372  0.000   0.0  103.000  -14.9280    167.170
780        6.8    0    5  711   64  0.000   0.0   33.000    6.6310    126.899
781        7.5    0    7  865  324  0.000   0.0   33.000    6.8980    126.579

     Year  Month  tsunami
0    2022     11        1
1    2022     11        0
2    2022     11        1
3    2022     11        1
4    2022     11        1
..    ...    ...      ...
777  2001      1        0
778  2001      1        0
779  2001      1        0
780  2001      1        0
781  2001      1        0

[782 rows x 13 columns]>

### Memory usage in each(how to optimize dataframe storage)

In [9]:
dataset.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   magnitude  782 non-null    float64
 1   cdi        782 non-null    int64
 2   mmi        782 non-null    int64
 3   sig        782 non-null    int64
 4   nst        782 non-null    int64
 5   dmin       782 non-null    float64
 6   gap        782 non-null    float64
 7   depth      782 non-null    float64
 8   latitude   782 non-null    float64
 9   longitude  782 non-null    float64
 10  Year       782 non-null    int64
 11  Month      782 non-null    int64
 12  tsunami    782 non-null    int64
dtypes: float64(6), int64(7)
memory usage: 79.6 KB